<div style="margin-top: -6%;" class="container">
  <h1>Settings</h1>
  

  <br>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input type="number" class="form-control" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty">
    <small id="difficultyHelp" class="form-text text-muted">
    	Difficulty controls how long the mining process takes. Higher numbers will make mining a lot slower!
    	<br>Default: 2
    </small>
  </div>

  <br>

  <div style="margin-top: -1%;" class="form-group">
    <label for="miningReward">Mining reward</label>
    <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
    <small id="miningRewardHelp" class="form-text text-muted">
		How much "coins" a miner receives for successfully creating a new block for the chain.
		<br>Default: 3.2
    </small>
  </div>
  <button style="font-weight: 900; background-color: #fff; color:  #ee7112; font-family: 'Syne Mono', monospace; font-size: 15px;" routerLink="/new/transaction" class="btn btn-outline-light">
    Save
  </button>

</div>
